// d'abord le copyright car quasi pas de css, le "footer" est juste en dessous 
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #96958a;
    color: #fff;
    height: 4vh;
    a{
        color: #fff;
        padding-left: 2px;
    }
}

/************FOOTER**********/
// les navs du footer sont dans nav par facilite et logique
footer{
    background-color: #fff;
}
.wrapper_footer{
    margin: 50px auto;
    padding: 0 150px;
    display: grid;
    grid-template-columns: repeat(3,1fr) 1.5fr;
    gap: 20px;

}
.logo_footer{
    width: 100%;
    img{
        width: 50%;
    }
}