/*nav du header dans le fichier _nav*/

header{
    position: sticky;
    top: 0;
    z-index: 2;
}

.adds{
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
    color: #fff;
    font-weight: 400;
    background-color: #96958a;
}

.search_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    border-bottom: 1px solid #96958a;
    background-color: #fafafa;

    .connection{
        display: flex;
        justify-content: flex-end;
        width: 250px;
        a{
            padding: 0 6px;
        }
    }
}
