.wrapper_nav_header{
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #96958a;
}
.wrapper_nav_header{
    background-color: #fafafa;
}
.nav_header{
    width: 600px;
    display: flex;
    margin: 0 auto;
    align-content: center;
    justify-content: space-around;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 15px;
    text-transform: uppercase;
    padding: 15px 0;
}