.homepage__padding{
    padding: 0 150px;
}

/******** TITLE *******/
.title{
    position: relative;
}
.title img{
    width: 100vw;
}
.title__display{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -55%;
    text-align: center;
    text-transform: uppercase;
    strong{
        font-size: 20px;
    }
    h2{
        margin: 0;
        font-size: 45px;
    }
}

/******** EXPLORE *******/
.explore{
    margin-top: 60px;
}
.explore__presentation{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.duo_img-title{
    margin: 20px 0;
    .scale{
        display: inline-block;
        height: 380px;
        width: 318px;
        overflow: hidden;
        img{
            display: inline-block;
            width: 100%;
            transition: 0.5s ease-in-out;
            &:hover{
            transform: scale(105%);
            }
        }
    }
    h5{
        font-size: 20px;
        margin: 10px 0;
        text-transform: uppercase;
        a{
            font-size: 20px;
        border-bottom: 1px solid black;
        color: #000;
        }        
    }
}

/******** FAMILY BUSINESS *******/
.family_business{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    gap: 40px;
    img{
        width: 50%;
    }
    article{
        display: flex;
        width: 50%;
        margin: auto;
        flex-direction: column;
        align-items: center;
        strong, h5, p{
            text-align: center;
        }
        strong{
            text-transform: uppercase;
            font-size: 18px;
        }
        h5{
            font-family: 'Libre Baskerville', serif;
            text-transform: uppercase;
            font-size: 30px;
            margin: 15px;
        }
        p{
            font-size: 14px;
            width: 70%;
            font-weight: bold;
        }
        a{
            color: #fff;
        }
    }
}

/******** COLLECTIONS *******/
.collections{
    margin-top: 100px;
}




/******** GRAPE VINE *******/
.grape_vine{
    display: flex;
    flex-direction: column;
    
}
