
/*********INTRODUCTION*********/
.introduction{
    padding: 20px 200px;
    background-color: #fafafa;
    small{
        font-size: 90%;
    }
}
.bottles_title{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    h2{
        font-size: 55px;
    }
    p{
        font-family:'Libre Baskerville', serif;
        width: 60%;
        text-align: center;
    }
    img{
        position: absolute;
        width: 5vw;
        top: 15px;
        right: 440px;
    }
}
/****************GRID**************/
.single_bottles__padding{
    margin-top: 50px;
    padding: 0 200px;
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}

.illustration{
    position: relative;
    border: 2px solid cyan;
    grid-column: span 2;
    grid-row: span 2;
}
.illustration__img{
    position: absolute;
    height: 100%;
    object-fit: cover;
}



.bottles{
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;  /*pour que mes FR fassent 1 carré et que mes img ne débordent pas */
}
.bottles__item{
    position: relative;
    height: 100%; /*poour que tout apparraisse, texte inclus */
    overflow: hidden; /*pour que mon img ne deborde pas du cadre */ 
    &:hover .visible{
        display: none;
    }
    &:hover .quick_view, &:hover .invisible{
        display: block;
    }
    .invisible{
        display: none;
        width: 100%;
    }
    .quick_view{
        display: none;
        position: absolute;
        left: 50%;
        top: 80%;
        translate: -50% -50%;
        color: #fff;
    }
    span{
        position: absolute;
        right: 10%;
        top: 10%;
        translate: -50% -50%;
        background-color: #fff;
        padding: 5px 5px 0 5px;
        border-radius: 90%;
    }
    img{
        width: 100%;
        position: absolute;  /*pour que mes img sortent du flux et ne poussent pas le reste - elles ne débordent plus de leur container */
    }
}

.name-price{
    display: flex;
    justify-content: space-between;
}

/****************AWARD**************/
.award{
    margin: 50px 0;
    padding: 20px 150px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
}
.award--padding{
    width: 80%;
    padding: 30px 150px;
    text-align: center;
    h3{
        font-size: 30px;
        padding-bottom: 20px;
    }
    p{
        font-size: 85%;
    }
}

/****************KEEP EXPLORING**************/
.keep_exploring{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    padding: 0 250px;
    img{
        width: 60%;
    }
}
.keep_exploring__text{
    background-color: #96958a;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 25px 0 10px 0;
    &::before{
        content: "";
        position: absolute;
        background: url(../../img/logo.webp);
    }
    h5{
        font-family: "Libre Baskerville",serif;
        text-transform: uppercase;
        font-size: 30px;
        margin: 15px;
        text-align: center;
    }
    p{
        margin: 25px 0 15px 0;
        font-size: 14px;
        width: 70%;
        font-family: "Libre Baskerville",serif;
        text-align: center;
    }
}
.option{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    a{
        border: 1px solid #fff;
        padding: 15px 70px;
        color: #fff;
    }
}